export ISHAON_CHAT_MYSQL_DB_NAME=
export ISHAON_CHAT_MYSQL_USER=
export ISHAON_CHAT_MYSQL_PASSWORD=
export ISHAON_CHAT_DB_URL=mysql://${ISHAON_CHAT_MYSQL_USER}:${ISHAON_CHAT_MYSQL_PASSWORD}@localhost:3306/${ISHAON_CHAT_MYSQL_DB_NAME}
